/* ====================== Responsive ====================== */

@media screen and (max-width: 754px) {
  /*global*/
  nav h1 a {
    letter-spacing: 0;
  }
  #footer {
    padding: 25px 20px;
    width: calc(100% - 40px);
  }
  /*main*/

  #restaurants-list li {
    margin: 10px 5px;
    padding: 0 25px 40px;
  }
  .filter-select-container {
    text-align: center;
  }
  #reviews-list li {
    width: 90%;
  }
  #reviews-list li div {
    padding: 10px 6px;
  }
  /*other*/
  .inside #map-container {
    width: 100vw;
    height: 55vw;
    position: inherit;
  }
  #breadcrumb {
    width: calc(100% - 80px);
  }
  #restaurant-container {
    width: calc(100vw - 60px);
    padding: 40px 30px;
  }
  #reviews-container {
    width: calc(100vw - 60px);
  }
}


