#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #f3f3f3;
  margin: 0;
  width: calc(50% - 80px);
}
#breadcrumb li {display: inline;}
#breadcrumb li a {color: #0d47a1;}

#breadcrumb li a:focus {
  color: #f3f3f3;
  background-color: #0d47a1;
}
#breadcrumb li a:hover {
  color: #0277bd;
  text-decoration: underline;
}
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.inside #map-container {
  background: #ccc none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  height: 100%;
  width: 100%;
}
#restaurant-img {
  border-radius: 20px 0;
  width: 90%;
}
#restaurant-name {
  color: #d43900;
  font-size: 1.6em;
  font-weight: 200;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-name:focus {
  background-color: #d43900;
  color: #fff;
}
#restaurant-address {margin: 10px 0px;}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
#restaurant-cuisine:focus {background: #d43900;}
#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 20px 30px;
  width: calc(50% - 40px);
}
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 20px 30px;
  width: calc(50% - 40px);
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #d43900;
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 1pt;
}
#reviews-container h2:focus {
  background-color: #d43900;
  color: #fff;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 85%;
  border-radius: 20px 0;
}
#reviews-list li p {
  margin: 0 0 10px;
  padding: 0 20px;
}
#reviews-list li div {
  background-color: #444;
  color: #fff;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding: 10px;
  margin-bottom: 10px;
}

.review-rating {
  background-color: #d43900;
  width: 75px;
  text-align: center;
  border-radius: 3%;
  color: white;
}

.reviewer {font-size: 1.2em;}
.review-date {
  color: #eee;
  font-size: 0.9em;
}
#restaurant-hours td {color: #424242;}
#restaurant-caption {
  font-size: 1.2em;
  font-weight: 500;
}
